Options -Indexes
RewriteEngine On

# Bloqueia acesso direto aos arquivos sensíveis
RewriteRule ^config/ - [F,L]

# Roteia tudo para index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
